body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="submit"],
button {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="file"],
input[type="text"],
input[type="number"],
input[type="submit"],
button {
    margin: 5px;
}

